h1{
    text-align: center;
    color: black;
}


#pictures{
    padding: 20px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    display: flex;
    background-color: teal;

}

#pictures img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}